* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 26px;
    background-color: #FFF7ED;
}

.nav-links-container {
    display: flex;
    gap: 14px;
}

.nav-link {
    text-decoration: none;
    color: #4D4D4D;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.nav-link:hover, .site-logo:hover {
    cursor: pointer;
    text-decoration: underline;
}

.site-logo {
    font-family: Inter;
    font-weight: 900;
    font-size: 25.35px;
    color: #000000;
}

/* Home page */

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url(images/mountain-lake.png) no-repeat center center;
    background-size: cover;
    min-height: 350px;
    padding: 65px 27px;

}

.home-main-info {
    max-width: 500px;

}

.home-main h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    padding-bottom: 23px;
}

.home-main p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 52px;
}

.home-main button {
    background-color: #FF8C38;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 31.66px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

footer {
    color: #AAAAAA;
    background-color: #252525;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.92px;
    text-align: center;
    padding: 25px;
}

/* About page */

.about-main {
    background-color: #FFF7ED;
    color: #161616;
}

.about-main img {
    width: 100%;
}

.about-main-info {
    padding: 48px 27px 53px;
}

.about-main-info h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about-main-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 55px;
}

.about-main-info div {
    background-color: #FFCC8D;
    padding: 32px 37px;
    border-radius: 5px;
}

.about-main-info div h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 25px;

}

.about-main-info div button {
    background-color: #161616;
    color: #ffffff;
    font-weight: 700;
    font-size: 15.95px;
    line-height: 23.92px;
    vertical-align: middle;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
}

/* Vans & VanDetail pages */
.vans-wrapper, 
.van-detail-container,
.host-van-container {
    padding: 0 27px;
    background-color: #FFF7ED;
    padding-bottom: 80px;
}

.vans-wrapper h1 {
    margin: 0;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;

}

.van-tile:hover {
    cursor: pointer;
}

.van-tile {
    text-decoration: none;
}

.van-tile img, 
.van-detail img {
    width: 100%;
    border-radius: 5px;
}

.van-detail img {
    margin-bottom: 50px;
}

.van-info h2, .van-info p {
    color: #161616;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 31.66px;
    margin: 0;
}

.van-info span {
    font-size: 0.875rem;
}

.van-tile i, 
.van-detail i {
    border: none;
    color: #FFEAD0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31.66px;
    text-align: center; 
    vertical-align: middle;
    padding: 7px 13px;
    border-radius: 5px;
}

.van-detail h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 33.65px;
}

.van-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 44.15px;
}

.van-price span {
    font-weight: 700;
    font-size: 24px;
    line-height: 44.15px;
}

.van-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23.92px;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: #ffffff;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 31.66px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
}

.van-detail .link-button:hover {
    cursor: pointer;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

/* Host Routes */

.host-layout-nav {
    display: flex;
    justify-content: start;
    gap: 29px;
}

.host-layout-nav a {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 18px;
    line-height: 22.92px;
}

.host-layout-nav a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #161616;
    cursor: pointer;
}

.your-van-list-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 18px 24px;
    border-radius: 6px;
}

.your-van-list-container img {
    width: 100%;
    border-radius: 5px;
}

.van-list-info h2, .van-list-info p {
    margin: 0;
    padding: 0;
}

.van-list-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 31.66px;
    color: #161616;
}

.van-list-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 31.66px;
    color: #4D4D4D;
}

.back-button {
    color: #201F1D;
    text-decoration: none;
    font-weight: 500;
    font-size: 15.95px;
    line-height: 22.92px;    
}

.back-button span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.host-van-el-wrapper {
    background-color: #FFF7ED;
    padding: 37px 26px 5px;
}

.host-van-el-container {
    display: flex;
    padding: 25px;
    background-color: #ffffff;
    gap: 20px;
    align-items: center;
    margin-top: 37px;
}

.host-van-el-container img {
    width: 161px;
    border-radius: 5px;
}

.host-van-el-container button {
    background-color: #E17654;
    color: #FFEAD0;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13.03px;
    line-height: 25.78px;
    padding: 2px 12px;
}

.host-van-el-name {
    color: #161616;
    font-weight: 700;
    font-size: 26.06px;
    line-height: 27.4px;
    margin: 0;
    padding-top: 16px;
}

.host-van-el-price {
    font-family: Inter;
    font-weight: 500;
    font-size: 16.29px;
    line-height: 35.95px;
    margin: 0;
}




