* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 26px;
    background-color: #FFF7ED;
}

.nav-links-container {
    display: flex;
    gap: 14px;
}

.nav-link {
    text-decoration: none;
    color: #4D4D4D;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}

.nav-link:hover, .site-logo:hover {
    cursor: pointer;
    text-decoration: underline;
}

.site-logo {
    font-family: Inter;
    font-weight: 900;
    font-size: 25.35px;
    color: #000000;
}

/* Home page */

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url(images/mountain-lake.png) no-repeat center center;
    background-size: cover;
    min-height: 350px;
    padding: 65px 27px;

}

.home-main-info {
    max-width: 500px;

}

.home-main h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    padding-bottom: 23px;
}

.home-main p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 52px;
}

.home-main button {
    background-color: #FF8C38;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 31.66px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

footer {
    color: #AAAAAA;
    background-color: #252525;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.92px;
    text-align: center;
    padding: 25px;
}

/* About page */

.about-main {
    background-color: #FFF7ED;
    color: #161616;
}

.about-main img {
    width: 100%;
}

.about-main-info {
    padding: 48px 27px 53px;
}

.about-main-info h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about-main-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 55px;
}

.about-main-info div {
    background-color: #FFCC8D;
    padding: 32px 37px;
    border-radius: 5px;
}

.about-main-info div h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 25px;

}

.about-main-info div button {
    background-color: #161616;
    color: #ffffff;
    font-weight: 700;
    font-size: 15.95px;
    line-height: 23.92px;
    vertical-align: middle;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
}

/* Vans & VanDetail pages */
.vans-wrapper, 
.van-detail-container,
.host-van-container {
    padding: 0 27px;
    background-color: #FFF7ED;
    padding-bottom: 80px;
}

.vans-wrapper h1 {
    margin: 0;
}

.van-list-filter-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 22px;
}

.van-type {
    font-weight: 500;
    font-size: 16px;
    line-height: 23.92px;
    color: #4D4D4D;
    text-decoration: none;
}

.simple-filter, 
.luxury-filter, 
.rugged-filter {
    background-color: #FFEAD0;
    padding: 7px 26px;
    border-radius: 5px;
    border: none;
}

.simple-filter:hover {
    background-color: #E17654;
    color: #FFEAD0;
    cursor: pointer;
}

.luxury-filter:hover {
    background-color: #161616;
    color: #FFEAD0;
    cursor: pointer;
}

.rugged-filter:hover {
    background-color: #115E59;
    color: #FFEAD0;
    cursor: pointer;
}


.clear-filters {
    text-decoration: underline;
    padding-left: 20px;
    border: none;
    background-color: #FFF7ED;
}

.simple-filter.selected {
    background-color: #E17654;
    color: #FFEAD0;
}

.luxury-filter.selected {
    background-color: #161616;
    color: #FFEAD0;
}

.rugged-filter.selected {
    background-color: #115E59;
    color: #FFEAD0;
}


.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;

}

.van-tile:hover {
    cursor: pointer;
}

.van-tile {
    text-decoration: none;
}

.van-tile img, 
.van-detail img {
    width: 100%;
    border-radius: 5px;
}

.van-detail img {
    margin-bottom: 50px;
}

.van-info h2, .van-info p {
    color: #161616;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 31.66px;
    margin: 0;
}

.van-info span {
    font-size: 0.875rem;
}

.van-tile i, 
.van-detail i {
    border: none;
    color: #FFEAD0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31.66px;
    text-align: center; 
    vertical-align: middle;
    padding: 7px 13px;
    border-radius: 5px;
}

.van-detail h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 33.65px;
}

.van-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 44.15px;
}

.van-price span {
    font-weight: 700;
    font-size: 24px;
    line-height: 44.15px;
}

.van-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 23.92px;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: #ffffff;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 31.66px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
}

.van-detail .link-button:hover {
    cursor: pointer;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

/* Host Routes */

.host-layout-nav {
    display: flex;
    justify-content: start;
    gap: 29px;
}

.host-layout-nav a {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 18px;
    line-height: 22.92px;
}

.host-layout-nav a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #161616;
    cursor: pointer;
}

.your-van-list-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 18px 24px;
    border-radius: 6px;
}

.your-van-list-container img {
    width: 100%;
    border-radius: 5px;
}

.van-list-info h2, .van-list-info p {
    margin: 0;
    padding: 0;
}

.van-list-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 31.66px;
    color: #161616;
}

.van-list-info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 31.66px;
    color: #4D4D4D;
}

.back-button {
    color: #201F1D;
    text-decoration: none;
    font-weight: 500;
    font-size: 15.95px;
    line-height: 22.92px;    
}

.back-button span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.host-van-el-wrapper {
    background-color: #FFF7ED;
    padding: 37px 26px 45px;
}

.host-van-el-inner-wrapper {
    background-color: #ffffff;
    border-radius: 6px;
    padding-bottom: 10px;
}

.host-van-el-container {
    display: flex;
    padding: 25px;
    gap: 20px;
    align-items: center;
    margin-top: 37px;
}

.host-van-el-container img {
    width: 161px;
    border-radius: 5px;
}

.host-van-el-container button {
    background-color: #E17654;
    color: #FFEAD0;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13.03px;
    line-height: 25.78px;
    padding: 2px 12px;
}

.host-van-el-name {
    color: #161616;
    font-weight: 700;
    font-size: 26.06px;
    line-height: 27.4px;
    margin: 0;
    padding-top: 16px;
}

.host-van-el-price {
    font-family: Inter;
    font-weight: 500;
    font-size: 16.29px;
    line-height: 35.95px;
    margin: 0;
}

.host-van-detail-nav {
    display: inline-flex;
    padding: 27px 0;
    gap: 22px;
    margin-left: 27px;
    background-color: #ffffff;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-info-container {
    margin-left: 27px;
}

.host-van-info-container span {
    font-weight: 700;
    font-size: 14.35px;
    line-height: 21.46px;
}

.host-van-info-container p {
    font-weight: 500;
    font-size: 14.35px;
    line-height: 21.46px;
}

.host-van-info-description {
    padding-right: 27px;
}

.host-van-pricing-container {
    margin: 27px;
}

.host-van-pricing-container p {
    font-weight: 500;
    font-size: 24px;
    line-height: 21.46px;
    color: #161616
}

.host-van-pricing-container span {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.46px;
}

.host-van-photos-container {
    width: 103px;
    margin-left: 27px;
}

.host-van-photos-container img {
    width: 100%;
    border-radius: 5px;
}

/* NotFound Page */
.not-found-container {
    padding: 100px 26px;
    background-color: #FFF7ED;
}

.not-found-container h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #161616;
}

.not-found-container .return-btn {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #161616;
    padding: 12px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 31.66px;
    text-align: center;
}

.not-found-container .return-btn:hover {
    cursor: pointer;
}

/* Login page */
.login-icon {
    width: 18px;
}

.login-container {
    background-color: #FFF7ED;
    padding: 50px 27px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    margin: 0;
    color: #161616;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 48px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}

.login-error {
    color: red;
}


.host-reviews {
    padding-inline: 26px;
    background-color: #FFF7ED;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}




